<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Blog Title</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="title"
        placeholder="Enter Blog Title">
    </div>

    <label class="col-sm-2 col-form-label">Blog content</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="content"
        placeholder="Enter Blog content">
    </div>

    <label class="col-sm-2 col-form-label">Blog author</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="author"
        placeholder="Enter Blog author">
    </div>
</div>

<button (click)="addBlog()"  class="btn btn-primary">
    Add
</button>
