<button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>Add Blog</button>


<div>
  <input type="text" 
        class="form-control" 
        [(ngModel)]="content"
        placeholder="Enter content">
  <button type="button" (click)="searchContent()" >search content</button>

  <input type="text" 
        class="form-control" 
        [(ngModel)]="title"
        placeholder="Enter title">
  <button type="button" (click)="searchTitle()" >search Title</button>

  <input type="text" 
        class="form-control" 
        [(ngModel)]="author"
        placeholder="Enter author">
  <button type="button" (click)="searchAuthor()" >search author</button>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">add Blog</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-blogs  *ngIf="ActivateAddBlog">
            </app-add-blogs>
        </div>
      </div>
    </div>
</div>



<div *ngIf="listUnfiltred">
  <app-list-blogs-unfil [blogs]="blogs"></app-list-blogs-unfil>
</div>

<div *ngIf="listFiltredContent">
  <app-list-blogs-content></app-list-blogs-content>
</div>

<div *ngIf="listFiltredTitle">
  <app-list-blogs-title></app-list-blogs-title>
</div>

<div *ngIf="listFiltredAuthor">
  <app-list-blogs-author></app-list-blogs-author>
</div>


